{% extends 'customer/base.html' %}
{% load static %}

{% block title %}Edit profile | Matrimonial{% endblock title %}
{% block content %}


<section>
		<div class="container">
			<div class="row">
				
				
				<div class="col-sm-12 padding-right">
					
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<!--tab-->
						{% include 'customer/edit_profile_tab.html' %}
						<div class="tab-content ">
														
							<div class="col-md-12 ">
					<div class="login-form"><!--login form-->
					{% for message  in messages %}
							
					<div class="alert alert-{{message.tags}}" role="alert">
						{{message}}
					</div>
					{% endfor %}
					
						<h2>Complete your registration</h2>
						<form method='POST' name='register'>{% csrf_token %}

						{% comment %} <div class="form-group col-md-6"><!--price-range-->
							<h2>Age Range</h2>
							<div class="well text-center">
								<input type="text" class="span2" value="" data-slider-min="18" data-slider-max="40" data-slider-step="5" data-slider-value="[18,35]" id="sl2" ><br />
								<b class="pull-left">18</b> <b class="pull-right">28</b>
							</div>
						</div> {% endcomment %}

						<div class="form-group col-md-6">
							
							<h2>Movie types you like</h2>
							<label for="exampleInputEmail1"></label>
								{{form.movie_types}}
						</div>

						<div class="form-group col-md-6">
							 
							<h2>Music types you like</h2>
							<label for="exampleInputEmail1"></label>
								{{form.music_types}}
						</div>
						

						{% comment %} <div class="form-group col-md-6">
							<label for="exampleInputEmail1">Email address</label>
							<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
							<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
						</div> {% endcomment %}
							
							{{form.error}}
							
	

							{% for message  in messages %}
							<p>{{message}}</p>
							{% endfor %}<br><br>
							
						<div class="form-group col-md-6">
							<button type="submit" class="btn btn-default">Save and continue</button>
						</div>
						</form>
							<script>


							var form_fields = document.getElementsByTagName('ul')
							form_fields[4].className += 'list-group';

							var form_fields = document.getElementsByTagName('li')
							for (var field in form_fields){	
									if (field>17){
									form_fields[field].className += 'list-group-item';}
								}


							var form_fields = document.getElementsByTagName('input')
							for (var field in form_fields){	
									form_fields[field].className += 'form-check-input';
								}
								{% comment %} form_fields[1].placeholder += "type Username"
								form_fields[2].placeholder += "type password" {% endcomment %}

							</script>
					</div><!--/login form-->
				</div>
							
						</div>
					</div><!--/category-tab-->
					
					
					
				</div>
			</div>
		</div>
	</section>


	{% endblock content %}